.clicker {
  cursor: pointer;
  font-weight: 900;
}

.background-image {
  position: relative;
  top: 45px;
  width: 300px;
  height: 100%;
  align-self: center;

}

.background-image-text {
  color: #112B53;
  font-family: Outfit, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
  margin: 0;
}

.subtitle {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #8f8f8f;
  margin: 0;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 55vw;
  height: 100vh;
  background-color: #031734;
  transition: margin-left 0.3s ease-in-out;
  box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);

  &.open {
    margin-left: 300px;
  }

  .chat-title {
    width: 102%;
    background-color: #031734;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 10px 10px rgba(1, 1, 25, 0.11);
    z-index: 10;

    .subtitle-text {
      font-family: 'Outfit', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      color: #F4f4f4;
      margin: 0;
      padding: 0;
    }
  }

  .chat-messages {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    overflow-y: scroll;
    height: auto;
    -ms-overflow-style: none;



    &::-webkit-scrollbar {
      width: 0;
    }


    .chat-message-container {
      flex-shrink: 0;
      min-height: 150px;
      -ms-overflow-style: none;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      padding: 15px 0;
      background-color: #031734;

      app-typewriter {
        padding: 15px 5px;
      }

      &::-webkit-scrollbar {
        width: 0;
      }


      &.assistant {
        background-color: #054569;
        justify-content: flex-end;

        .chat-message {
          text-align: right;
        }
      }

      .user-icon {
        padding-left: 30px;
      }

      .assistant-icon {
        img {
          max-width: 75px;
          height: auto;
          padding-right: 30px;
        }
      }

      .chat-message {
        color: #F2F2F2;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        text-align: left;
        padding-right: 30px;

        &.left {
          padding-right: 0;
          padding-left: 30px;
        }
      }

    }
  }
}


.input-container {
  max-width: 53vw;
  width: 53vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  padding: 12px 1vw 16px;

  gap: 10px;
  z-index: 10000000;
  background-color: #031734;
}

.textbox {
  width: 90%;
  border-radius: 10px;
  background: #112B53;
  padding-left: 12px;
  resize: none;
  height: 32px;
  overflow-y: hidden;
  border-width: 0;
  color: #CED7E0;

  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: left;

  &::placeholder {
    color: #054569;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 2px;
  }

  &:focus {
    outline: none;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(180deg);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

@media (max-width: 767px) {
  .assistant-icon {
    img {
      width: 36px;
      height: auto;
      padding-right: 0;
    }
  }

  .user-icon {
    svg {
      width: 36px;
      height: auto;
      padding-left: 0;
    }
  }

  .chat-container {
    width: 100vw;
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    border-radius: 20px 20px 0 0;
    box-shadow: none;

    &.safe-area {
      margin-bottom: 3.5vh;
    }

    &.open {
      margin-left: 200vw;
    }

    .input-container {
      max-width: 95vw;
      width: 95vw;

      &.safe-area {
        padding-bottom: 3.5vh;
        margin-bottom: 3.5vh;
      }

      .textbox {
        padding-left: 4px;
      }
    }



    .chat-messages {
      .chat-message-container {
        min-height: 50px;
      }
    }



    .chat-title {
      background-color: #031734;
      color: #FFF;
      font-family: Outfit, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 20px 20px 0 0;
      box-shadow: none;
    }
  }

  .chat-message {
    font-size: 14px;
    white-space: pre-wrap;
  }
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
