/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow: hidden;
  height: 100vh;

  .blinking-cursor {
    margin-left: 2px;
    animation: blink 0.5s infinite !important;
  }
  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    50.1%, 100% {
      opacity: 0;
    }
  }

}

.label {
  color: #d2d2d2;
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
}

.toast-top-center {
  top: 30px;
}

