<div class="menu-container" [class.open]="isOpen">
  <svg (click)="toggleSideBar()" class="burger-menu-icon" [class.open]="isOpen" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect width="31" height="32" fill="url(#pattern0)"/>
    <defs>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_10_35" transform="matrix(0.00955795 0 0 0.00925926 -0.016129 0)"/>
      </pattern>
      <image id="image0_10_35" width="108" height="108" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGwAAABsCAYAAACPZlfNAAAACXBIWXMAAAsSAAALEgHS3X78AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAB50lEQVR42u3aTW5NYQDH4V9jLuJzH3REooQ1sAKJDYhJSRoM2IHECuxBDTBCbENEfCxArsm9ESPanp7mvX2ecTt5f8k57733v7FYLGIcG4IJhmAIJhiCIZhgCIZggiEYggmGYAgmGIIhmGB/O1vdri5X5x3dJL5U76qX1dcpg92tnlYnnfGh+Fndr55PEexhteNMZ/GgenyQYNeq3WrDWc5iUW1Vb/Yb7PUyGvPZrW7sJ9jp5UvxhDOc1a/qXPV9r8E2q/fO70hsVh/3GuxS9cHZHYmL1SePxDV/JK5egNed4axeVTf3e0vcWt4UXevnu9Zfrd4e5IPzdvXIWc5iu3pykA/OK3eqZ9UpZ3ooflT3qhf/+sO9fPl7prpVXakuOONJfO7Pl7/f/ucf/LwyGMEEQzAEEwzBEEwwBEMwwRCMqYOZak/PVHtQptqDMtUejKn2gEy1B2OqPSBT7cGYah+HR+LqBWiqPS9T7cGu9abaAzHVHoSp9iBMtdedYIIhGIIJhmAIJhiCIZhgCMbUwUy1p2eqPShT7UGZag/GVHtAptqDMdUekKn2YEy1j8MjcfUCNNWel6n2YNd6U+2BmGoPwlR7EKba604wwRAMwQRDMAQTDMEQTDAEQzDBEAzBBEMwBDsWfgMmdLU4/BXp+AAAAABJRU5ErkJggg=="/>
    </defs>
  </svg>
  <div class="menu">
  <app-logo></app-logo>
    <div class="menu-inner">
      <h1 class="menu-title-text">ÕPPEAINED</h1>
      <p class="menu-item-text selected">Matemaatika</p>
      <p class="menu-item-text">Eesti keel</p>
      <p class="menu-item-text">Füüsika</p>
      <p class="menu-item-text">Ajalugu</p>
      <p class="menu-item-text">Keemia</p>
    </div>

  </div>
</div>
